{% extends "base.html" %}

{% block title%}<title>About Us</title>{% endblock title%}


{% block content %}
<body id="about-us-body">
    <div class="row">
        <div class="col-12">
            <h3>About us</h3>
            <h1>Once upon a pad,</h1>
            <p>We, Sarah Cole and Amanda Rodriques, came together to build Period<br>
                Pride JA as our project for Jamaica's first AI Hackathon. The project is a<br>
                period and sex education chatbot built using artificial intelligence. But<br>
                Period Pride JA was more than just a submission to a hackathon, it was<br>
                built in response to the limited sources of period and sex information<br>
                locally, not to mention the rising stigma surrounding both. So, Period<br>
                Pride JA aims to provide a safe place for persons who experience<br>
                periods to learn about their bodies.
                <br><br><br>
                As our exam season has come to an end, we are looking to improve<br>
                and expand the project. The plan includes building a mobile app and<br>
                working on the website. We are beyond excited to continue working<br>
                on Period Pride JA, and we ask for your patience as we bring it back<br>
                to life</p>
        </div>
    </div>
</body>

{% endblock%}