{% extends "base.html" %}
{% block title%}<title>Home</title>{% endblock title%}


{% block content %}
<body id="home-body">
    <div class="row">
        <header class="hidden-header"><h3 id="header-text">we'll be back later</h3></header>
        <div class="col-7" style="text-align: left;">
            <h1>Period<br>Pride JA</h1>
            <p>We are working to develop Period Pride JA to the quality<br class="visible-break">
                that our users deserve. <br class="hidden-break"> In the meanwhile, read more about<br class="visible-break"> 
                the project, and find out how you can help!</p>
                <button class="home-buttons" id="about-button"><a href="/about-us" class="page-links">About</a></button>
                <button class="home-buttons" id="contact-button"><a href="/contact-us" class="page-links">Contact Us</a></button>
                <button class="home-buttons" id="help-button"><a href="/help-out" class="page-links">Help Out</a></button>
        </div>
        <div class="col-5">
            <img id="trixie-gif" src="{{ url_for('static', filename='trixie-cropped.gif') }}"  alt="gif of a floating Black girl's head with her hair in pompoms with two yellow bows. a speech bubble to the side saying 'feed me data'.">
        </div>
    </div>
{% endblock%}