* {
    box-sizing: border-box;
  }

#home-body {
    background-color: #f8f4f7;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: -10px;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 33px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    /* For mobile device */
    float: left;
    width: 100%;
}


@media only screen and (max-width: 480px) {
    /* more For mobile device */
    p {font-size: 3vw;}
    h1 {font-size: 10vw;}
    .col-7 {padding-top: 18vw;}
    html{overflow:scroll}
}

@media only screen and (max-width: 768px) {
    /* For tablets */
    p {font-size: 3vw;}
    h1 {font-size: 10vw;}
    .col-7 {padding-top: 13.5vw;}
    button {padding-bottom: 5px; padding-top: 5px; width: 20%;}
    html{overflow:scroll}
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  html {overflow: hidden;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%; height: 100%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%; margin-top: 3.4%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  p {font-size: 1.5vw;}
  h1 {font-size: 7vw;}
  button {width: 21.5%; padding-bottom: 7px; padding-top: 7px;}
}

.col-7 {
    margin-left: 2vw;
}

.col-5 {
    margin-left: 55vw;
    margin-top: -38.5%;
}

button {
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vw;
    color: white;
    border-radius: 0px;
    border-color: transparent;
}

#about-button {
    margin-left: 0px;
    background-color: #e07980;
}

#contact-button {
    background-color: #f9b2b6;
}

#help-button {
    background-color: #fee0df;
}